{% extends 'portfolio/base.html' %}

{% block title %}Sobre mi{% endblock %}


{% block content %}
<div class="container whiteFont ">
    <div class="row">
        <div class="col-xl-12 my-5 uppercase text-center">
            <h1>Sobre mi</h1>
        </div>
    </div>
        <div class="row  text-center">
            <div class="col-xl-6">
                <span>Soy tecnico en infomatica, estoy en el ultimo año de la carrera analista en sistemas
                    siempre me llamo la atencion el ambiente del desarrollo y programacion.
                    </span>
            </div>
            
            <div class="col-xl-6 my-5">
                <span>Algunas de mis aptitudes son:</span>
                <p>Trabajo en equipo</p>
                <p>Ganas de seguir aprendiendo</p>
                <p>Proactividad</p>

            </div>
    </div>
</div>
{% endblock %}