{% extends 'portfolio/base.html' %}

{% block title %}Francisco Lonzo{% endblock %}
{% load static %}
{% block content%}

<div class="container-fluid">
  <h1 class="display-5 text-center whiteFont uppercase titleProjects">Proyectos realizados</h1>

  <div class="row  justify-content-center text-center">

    <div class="my-2">
      <div class=" transparent whiteFont card" style="width: 18rem;">
        <img src="{% static 'img/projects/pokemon.png' %}" class="card-img-top grow " alt="...">
        <div class="card-body">
          <h5 class="card-title">Pokemons App</h5>
          <p class="card-text">Aplicacion construida con ReactJS que consume la API de pokemon y entrega la imagen del pokemon buscado</p>
          <a href="https://github.com/lonzofrancisco/Pokemons" target="_blank"> <i class=" btn btn-primary  fab fa-github github"> Ver en Github</i></a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}